@media (max-width: 576px) {
    #table-data-donasi-component {
        width: 90% !important;
        align-content: center !important;
        justify-content: space-between !important;
        gap: 40px !important;
    }
    #table-data-donasi-component h4 {
        font-size: 1rem !important;
    }
    #divider1 {
        margin-right: 5%;
    }
    #divider2 {
        margin-left: 6%;
    }
    #border-fitur {
        width: 25% !important;
        height: 50px !important;
    }
    #border-fitur h4 {
        font-size: 1rem !important;
    }
}
