body {
    background: linear-gradient(-45deg,
    #000000,
    #121212,
    #1a1a1a,
    #373737,
    #515050,
    #636363,
    #f1c40f);
background-size: 400% 400%;
animation: gradient 9s ease infinite;
height: 100vh;
margin: 0;
padding: 0;
}

.navbar {
    background: linear-gradient(to bottom, #eef2f3, #2b5876);
}

.navbar-nav .nav-link {
    color: black;
}

.navit{
    cursor: pointer;
}
.btn-grays{
    background-color: #3e3e3e;
    color: white;
}
.btn-grays:hover{
    background-color: #3e3e3e;
    color: white;
}

.text-link{
    text-decoration: none;
    color: #1b0f04;
}

.navbar-nav .nav-link.active {
    text-decoration: underline;
}

.navbar-nav .nav-item .dropdown-menu {
    background: linear-gradient(to bottom, #eef2f3, #2b5876);
}

.bg-msg {
    background-color: #082f49;
    color: white;
    padding: 50px 0;
}

.bg-msg-more {
    background-color: #1b0f04;
    color: white;
    padding: 50px 0;
}

.bg-msg-joinus {
    background-color: #2b2829;
    color: white;
    padding: 50px 0;
}

.text-choose{
    text-align: center;
    text-decoration: none;
    color:#eef2f3;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.img-fluid {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.text-light {
    color: white !important;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-50 {
    top: 50%;
}

.start-50 {
    left: 50%;
}

.translate-middle {
    transform: translate(-50%, -50%);
}

.btn-primary {
    background-color: #e9a500;
    color: #f1eaea;
    /* border: 2px solid #000; */
    padding: 10px 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

.hero-image {
    position: relative;
    text-align: center;
    color: white;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.hero-text h1 {
    font-size: 3em;
}

.hero-text p {
    font-size: 1.5em;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.btn-deposit {
    background-color: white;
    color: black;
    border-radius: 70px;
    padding: 20px 80px;
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
